*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*
*.iml
*.sh
freeline/*
freeline_core/*
freeline.py
freeline_project_description.json
freeline.zip.tmp
.idea/
gradle/
gradlew
gradlew.bat
app/build/
bugly/

